<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Documents\Cocos\CocosProjects\print3\simulator\win32\print3.exe</StartProgram>
    <StartArguments>-console -disable</StartArguments>
    <StartWorkingDirectory>D:\Documents\Cocos\CocosProjects\print3</StartWorkingDirectory>
  </propertyGroup>
</Project>